image:
  repository: kestra/kestra
  tag: 1.3.0
  pullPolicy: IfNotPresent

deployments:
  webserver:
    enabled: true
  executor:
    enabled: true
  indexer:
    enabled: true
  scheduler:
    enabled: true
  worker:
    enabled: true
  standalone:
    enabled: false

externalMetrics:
  enabled: true
  apiService:
    create: true

common:
  extraVolumes:
    - name: kestra-ssl
      secret:
        secretName: kestra-ssl
  extraVolumeMounts:
    - name: kestra-ssl
      mountPath: /app/ssl
      readOnly: true

configurations:
  application:
    kestra:
      queue:
        type: h2
      repository:
        type: h2
      storage:
        type: local
        local:
          basePath: "/app/storage"
    datasources:
      h2:
        url: jdbc:h2:mem:public;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
        username: kestra
        password: ""
        driverClassName: org.h2.Driver
    micronaut:
      server:
        ssl:
          enabled: true
          port: 6443
          keyStore:
            path: file:/app/ssl/keystore.p12
            password: changeit
            type: PKCS12



