{{- if and .Values.externalMetrics.enabled .Values.externalMetrics.apiService.create -}}
{{- $em := .Values.externalMetrics -}}
apiVersion: apiregistration.k8s.io/v1
kind: APIService
metadata:
  name: {{ printf "%s.%s" $em.apiService.version $em.apiService.group | quote }}
  labels:
    {{- include "kestra.labels" . | nindent 4 }}
    app.kubernetes.io/component: external-metrics
spec:
  group: {{ $em.apiService.group }}
  version: {{ $em.apiService.version }}
  groupPriorityMinimum: {{ $em.apiService.groupPriorityMinimum }}
  versionPriority: {{ $em.apiService.versionPriority }}
  service:
    name: {{ include "kestra.fullname" . }}
    namespace: {{ .Release.Namespace }}
  {{- if $em.apiService.insecureSkipTLSVerify }}
  insecureSkipTLSVerify: true
  {{- else if $em.apiService.caBundle }}
  caBundle: {{ $em.apiService.caBundle }}
  {{- end }}
{{- end }}
