{{ $deployment := ternary "standalone" "webserver" .Values.deployments.standalone.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "kestra.fullname" . }}
  labels:
    {{- include "kestra.labels" . | nindent 4 }}
    {{- with .Values.service.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.service.annotations }}
  annotations:
  {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    {{- range $n, $p := .Values.service.ports }}
    - name: {{ $n }}
      port: {{ $p.port }}
      targetPort: {{ $p.targetPort }}
      protocol: {{ $p.protocol | default "TCP" }}
    {{- end }}
    {{- if .Values.externalMetrics.enabled }}
    - name: {{ .Values.externalMetrics.servicePort.name }}
      port: {{ .Values.externalMetrics.servicePort.port }}
      targetPort: {{ .Values.externalMetrics.servicePort.targetPort | default .Values.externalMetrics.servicePort.containerPort }}
      protocol: {{ .Values.externalMetrics.servicePort.protocol | default "TCP" }}
    {{- end }}
  selector:
    {{- include "kestra.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: "{{ $deployment }}"
