apiVersion: v2
type: application
version: "1.0.10"
appVersion: "v1.1.2"
name: kestra-starter
description: Infinitely scalable, event-driven, language-agnostic orchestration and scheduling platform to manage millions of workflows declaratively in code.
home: https://kestra.io
icon: https://kestra.io/favicon-192x192.png
sources:
  - https://github.com/kestra-io/helm-charts
maintainers:
  - name: tchiotludo
    email: tchiot.ludo@gmail.com
annotations:
  artifacthub.io/links: |
    - name: Documentation
      url: https://kestra.io/docs/
  artifacthub.io/screenshots: |
    - title: Home page
      url: https://raw.githubusercontent.com/kestra-io/kestra.io/main/public/docs/user-interface-guide/02-Homepage-Empty.png
    - title: Flows list
      url: https://raw.githubusercontent.com/kestra-io/kestra.io/main/public/docs/user-interface-guide/04-Flows.png
    - title: Flow page
      url: https://raw.githubusercontent.com/kestra-io/kestra.io/main/public/docs/user-interface-guide/05-Flows-Flow.png
    - title: Execution list
      url: https://raw.githubusercontent.com/kestra-io/kestra.io/main/public/docs/user-interface-guide/08-Executions.png
    - title: Execution page
      url: https://raw.githubusercontent.com/kestra-io/kestra.io/main/public/docs/user-interface-guide/09-Executions-Execution.png
    - title: Execution gantt
      url: https://raw.githubusercontent.com/kestra-io/kestra.io/main/public/docs/user-interface-guide/27-Executions-Gantt.png
    - title: Namespaces list
      url: https://raw.githubusercontent.com/kestra-io/kestra.io/main/public/docs/user-interface-guide/14-EE-Namespace.png
    - title: Global logs
      url: https://raw.githubusercontent.com/kestra-io/kestra.io/main/public/docs/user-interface-guide/10-Logs.png
    - title: Documentation
      url: https://raw.githubusercontent.com/kestra-io/kestra.io/main/public/docs/user-interface-guide/12-Documentations-Plugins-Plugin.png
dependencies:
  - name: postgres
    repository: https://groundhog2k.github.io/helm-charts/
    version: "1.5.7"
  - name: seaweedfs
    repository: https://seaweedfs.github.io/seaweedfs/helm
    version: "4.0.399"
  - name: kestra
    repository: https://helm.kestra.io/
    version: "1.0.14"
