postgres:
  # -- see https://artifacthub.io/packages/helm/groundhog2k/postgres for all available configurations
  # @section -- PostgreSQL Configuration
  fullnameOverride: "kestra-starter-postgres"
  # -- see https://artifacthub.io/packages/helm/groundhog2k/postgres for all available configurations
  # @section -- PostgreSQL Configuration
  serviceAccount:
    create: true
  # -- see https://artifacthub.io/packages/helm/groundhog2k/postgres for all available configurations
  # @section -- PostgreSQL Configuration
  revisionHistoryLimit: 5
  # -- see https://artifacthub.io/packages/helm/groundhog2k/postgres for all available configurations
  # @section -- PostgreSQL Configuration
  settings:
    superuser:
      value: "postgres"
    superuserPassword:
      value: "SuperChangeMe#1234"
  # -- see https://artifacthub.io/packages/helm/groundhog2k/postgres for all available configurations
  # @section -- PostgreSQL Configuration
  userDatabase:
    name:
      value: "kestra"
    user:
      value: "kestra"
    password:
      value: "ChangeMe#1234"

seaweedfs:
  # -- see https://artifacthub.io/packages/helm/seaweedfs/seaweedfs for all available configurations
  # @section -- SeaweedFS Configuration
  fullnameOverride: "kestra-starter-seaweed"
  image:
    tag: "3.99"  # Match app version from chart
  
  # Enable just what we need for S3 emulation
  master:
    replicas: 1
    resources:
      requests:
        memory: 512Mi
  
  volume:
    replicas: 1
    resources:
      requests:
        memory: 512Mi
    persistence:
      enabled: true
      size: 10Gi
  
  filer:
    replicas: 1
    resources:
      requests:
        memory: 512Mi
    s3:
      enabled: true
      port: 8333
      enableAuth: true
      defaultCredentials:
        accessKey: "kestra"
        secretKey: "kestra-1234"
      policies:
        - name: "KestraWritePolicy"
          statements:
            - effect: "Allow"
              resources:
                - "arn:aws:s3:::kestra/*"
              actions:
                - "s3:*"
      buckets:
        - name: "kestra"
          policy: "public"

kestra:
  # -- see https://artifacthub.io/packages/helm/kestra/kestra for all available configurations
  # @section -- Kestra Configuration
  fullnameOverride: "kestra-starter"
  # -- see https://artifacthub.io/packages/helm/kestra/kestra for all available configurations
  # @section -- Kestra Configuration
  common:
    revisionHistoryLimit: 5
  # -- see https://artifacthub.io/packages/helm/kestra/kestra for all available configurations
  # @section -- Kestra Configuration
  dind:
    enabled: true
    mode: "insecure"
  # -- see https://artifacthub.io/packages/helm/kestra/kestra for all available configurations
  # @section -- Kestra Configuration
  configurations:
    application:
      datasources:
        postgres:
          url: 'jdbc:postgresql://kestra-starter-postgres:5432/kestra'
          driverClassName: org.postgresql.Driver
          username: 'kestra'
          password: 'ChangeMe#1234'
      kestra:
        tutorialFlows:
          enabled: true
        queue:
          type: 'postgres'
        repository:
          type: 'postgres'
        storage:
          type: 'minio'
          minio:
            endpoint: 'kestra-starter-seaweed-filer'
            port: '8333'
            access-key: 'kestra'
            secret-key: 'kestra-1234'
            secure: 'false'
            bucket: 'kestra'
